<div class="row">
  <div class="col-md-3">
    <button class="btn btn-info btn-lg btn-block"><%= link_to t("create_restaurant"), createre_path %>
    </button>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-3">
    <button class="btn btn-default btn-lg btn-block"><%= link_to t("manage_restaurant"), searchre_path %>
    </button>
  </div>
</div>




<!-- <div class="restaurants-search">
  <input type="text" id="restaurants-search-txt" autofocus>
  <div class="results" id="restaurants-search-results"></div>
</div> -->
