<% provide(:title, t("create_restaurant")) %>
<% provide(:button_text, t("create_restaurant")) %>
<h1><%= t("create_restaurant") %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= render "form" %>
  </div>
</div>
